<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SHS Library Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <link rel="stylesheet" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../css/main.css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" src="/static/js/angular.js" th:src="@{/js/angular.js}"></script>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/customer.controller.js" th:src="@{/app/customer.controller.js}"></script>

    <script type="text/javascript" src="/static/js/angular-animate.js" th:src="@{/js/angular-animate.js}"></script>
    <script type="text/javascript" src="/static/js/toaster.js" th:src="@{/js/toaster.js}"></script>
    <link rel="stylesheet" href="../../css/toaster.css" th:href="@{/css/toaster.css}"/>

</head>
<body ng-app="app" ng-controller="CustomerController as vm">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<div  class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="nav-side-menu">
                <div class="brand">Customer</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li>
                            <a href="#" id = "resourceTab">
                                <i class="fa fa-dashboard fa-lg"></i> Resources
                            </a>
                        </li>
                        <li>
                            <a href="#" id = "mrTab">
                                <i class="fa fa-dashboard fa-lg"></i> Available Meeting Rooms
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-dashboard fa-lg"></i> Log Out
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9" id = "resourceTable">
            <form method="post" ng-submit="onSearchResources(searchForm2.$valid)"
                  name = "searchForm2">
                <div class="form-group">
                    <label for="selectResType">Resource Type</label>
                    <select class="form-control" ng-model="formModel.restype" required="required" id="selectResType">
                        <option value="3">All</option>
                        <option value="0">Books</option>
                        <option value="1">Thesis</option>
                        <option value="2">Magazines</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectOptions">Options</label>
                    <select class="form-control" ng-model="formModel.options" required="required" id="selectOptions">
                        <option value="0">All</option>
                        <option value="1">Authors</option>
                        <option value="2">Publisher</option>
                        <option value="3">Title</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter " ng-model="formModel.searchitem" autocomplete="off" required="required" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <button type="submit" class="btn btn-primary" ng-click="vm.getAllResources()">Reset</button>
            <main class="container pt-5">
                <div class="card-block p-0">
                    <table class="table table-bordered table-definition mb-5">
                        <thead class="table-warning ">
                        <tr>
                            <th></th>
                            <th>Type</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Year</th>
                            <th>Location</th>
                            <th>Publisher</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="resources in vm.resources">
                            <td>
                                <div>
                                    <button type="button" class="btn btn-primary btn-block" ng-click="vm.viewCurrResource(resources.bookid)" data-toggle="modal" data-target="#viewResource">View</button>
                                </div>
                                <div  ng-if = "resources.status == 0">
                                    <button type="button" class="btn btn-primary btn-block" ng-click="vm.reserveResource(resources.bookid)">Reserve</button>
                                </div>
                            </td>
                            <td ng-bind="resources.booktype"/>
                            <td ng-bind="resources.title"/>
                            <td ng-bind="resources.author"/>
                            <td ng-bind="resources.year"/>
                            <td ng-bind="resources.location"/>
                            <td ng-bind="resources.publisher"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
        <div class="col-sm-9" id = "mrTable">
            <form method="post" ng-submit="onSearchMR(searchForm.$valid)"
                  name = "searchForm">
                <div class="form-group">
                    <label for="selectResType">Start Time</label>
                    <select class="form-control" ng-model="formModel.starttime" required="required" id="selectTime">
                        <option value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="selectDate">Usage Date</label>
                    <input type="date" id="selectDate" name="input" ng-model="formModel.usagedate"
                           placeholder="yyyy-MM-dd" min="2017-08-11" max="2020-12-31" required="required"/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <main class="container pt-5">
                <div class="card-block p-0">
                    <table class="table table-bordered table-definition mb-5">
                        <thead class="table-warning ">
                        <tr>
                            <th></th>
                            <th>Room ID</th>
                            <th>Room Name</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="availMR in vm.availMR">
                            <td>
                                <button type="button" class="btn btn-primary btn-block" ng-click="vm.reserveMR(availMR.meetingroomid, formModel.usagedate, formModel.starttime)">Reserve</button>
                            </td>
                            <td ng-bind="availMR.meetingroomid"/>
                            <td ng-bind="availMR.roomname"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- line modal -->
<div class="modal fade" id="viewResource" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">View Resource</h3>
            </div>
            <div class="modal-body">
                <div>
                    <label for="view_title">Title: </label>
                    <label ng-bind="vm.currResource.title" id="view_title"/>
                </div>
                <div>
                    <label for="view_author">Author: </label>
                    <label ng-bind="vm.currResource.author" id="view_author"/>
                </div>
                <div>
                    <label for="view_publisher">Publisher: </label>
                    <label ng-bind="vm.currResource.publisher" id="view_publisher"/>
                </div>
                <div>
                    <label for="view_year">Year: </label>
                    <label ng-bind="vm.currResource.year" id="view_year"/>
                </div>
                <div>
                    <label for="view_loc">Location: </label>
                    <label ng-bind="vm.currResource.location" id="view_loc"/>
                </div>

                <div class="card-block p-0">
                    <table class="table table-bordered table-definition mb-5">
                        <thead class="table-warning ">
                        <tr>
                            <th>Review Date</th>
                            <th>Review Content</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="review in vm.review">
                            <td ng-bind="review.reviewdate"/>
                            <td ng-bind="review.reviewcontent"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div  ng-if = "vm.canreview == 0">

                    <form method="post" ng-submit="onReview(searchForm3.$valid)"
                          name = "searchForm3">
                        <div class="form-group">
                            <label for="selectDate">Review Content</label>
                            <input type="text" class="form-control" id="edit_room_res_roomid" placeholder="Enter Review" autocomplete="off" ng-model="formModel.reviewcontent"/>
                        </div>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<script>

    document.getElementById('resourceTab').addEventListener('click', function() {
        $("#resourceTable").show();
        $("#mrTable").hide();
    }, false);

    document.getElementById('mrTab').addEventListener('click', function() {
        $("#resourceTable").hide();
        $("#mrTable").show();

    }, false);


</script>

</body>
</html>